// Colors
$clr1: #01c5c4;
$clr2: #b8de6f;
$clr3: #f1e189;
$clr4: #f39233;
// $clr5: #dff0ea;
// $clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$nav-footer-margin:0 20px